# Change these for your cluster
MAPR_CLUSTER=mycluster
MAPR_CLDB_HOSTS=cldb.lab.local

MAPR_CONTAINER_USER=mycontaineruser
MAPR_CONTAINER_PASSWORD=
MAPR_CONTAINER_GROUP=mycontainergroup
MAPR_CONTAINER_UID=12345
MAPR_CONTAINER_GID=12345

# Ensure you create a ticket on secure clusters.  Also ensure that the filepermissions on the host allow it to be read by the user inside the continaer. The ticket should be on the docker host at /tmp/mapr_ticket maprticket_12345 is a ticket name
MAPR_TICKETFILE_LOCATION=/tmp/mapr_ticket/maprticket_12345

MAPR_MOUNT_PATH=/mapr
MAPR_TZ=US/Central


# Ensure that the user has the ability right to the stream here. Use the mkstream.sh to create the stream for your user
MAPR_STREAMS_VOLUME_LOCATION="/data/prod/teststream"
MAPR_STREAMS_STREAM_LOCATION="/data/prod/teststream/mystream"
MAPR_STREAMS_DEFAULT_PARTITIONS=3
MAPR_STREAMS_TOPIC="testing"
IMG="maprpaccstreams:latest"
